/* 
 *	Panneau d'administration
 *	Boites communes
 */
 
#page-admin
{	
padding : 10px;
padding-top : 50px;
font-family : Verdana, Serif;

}

/* 
 *	Panneau d'administration
 *	Boites spéciales
 */

#panneau-admin
{
padding : 20px;
padding-top : 2px;

box-shadow:1px 3px 8px #000000;

-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

border-width: 2px;
border-style: inset;
border-color: #121212;

background: -moz-linear-gradient(top, #dedede, #acacac);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#acacac));
}

#panneau-admin h1
{
color : orange;
padding-left : 25px;
border-left : 6px solid orange;
}

.icon-panneau-admin
{
display : inline;
padding-right : 50px;
}

.icon-panneau-admin img
{
width : 120px;
}

.icon-panneau-admin a
{
text-decoration : none;

}