/*
 *	Balises générales
 */
 
body
{
	width: 960px;
	margin : auto;
	padding-top : 20px;
	padding-bottom : 35px;
	background-image:url('img/fond.png');
}

div
{
	border: solid black 0px;
}

form table th
{
	text-align: right;
}

form table .centre
{
	text-align: center;
}

/*
 *	Boites Communes
 */

#header
{
width : 960px;
}

#logo img 
{
	float: left;
	width: 170px;
	margin-right : 50px;
}

#espace_haut
{
	
	padding-bottom : 12px;
}

#espace_recherche 
{
	width: 780px;
}

#espace_recherche img
{
	padding-left : 25%;
	display : inline;
	padding-right : 5px;
}

#espace_recherche form
{
	display : inline;
}

#espace_recherche a
{
	padding-left : 30px;
	padding-right : 30px;
	display : inline;
	color : green;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-weight : bold;
	font-size : small;
}

#espace_recherche a:hover
{
	color : #CC6600;
}

#espace_membre
{
	color : #FF9900;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 14px;
	padding-bottom : 8px;

}

#form-inscription
{
	float : left;
	margin-top : 70px;
	color : #FF9900;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 14px;
	margin-bottom : 80px;
	
	padding-left : 50px;
	
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: purple;
	
}

#form-inscription h4, h6
{
	color : #222222;
}

#pourquoi-sinscrire
{
	float : right;
	width : 440px;
	margin-top : 85px;

	padding-left : 15px;

	color : #232323;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 14px;
	padding-bottom : 8px;

	background-color : #dedede;

	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px  7px;
	border-radius: 7px 7px 7px 7px;

	border-width: 2px;
	border-style: solid;
	border-color: #bbbbbb;

	background: -moz-linear-gradient(top, #dedede, #cdcdcd);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#cdcdcd));
}


#form-connection
{
	float : left;
	margin-top : 70px;
	color : #FF9900;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 14px;
	margin-bottom : 80px;
	
	padding-left : 50px;
	
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: purple;
}

#pub-connection img
{
margin-top : 70px;
margin-left : 50px;
}

#body
{
	clear: both;
}

#footer
{
	clear: both;
}

#sitemap
{
	background-color : lime;
}




/*
 *  Boites spéciales
 */
 
 /* ACCUEIL */
 #coup_coeur
 {
	height: 250px;
 }
 

 
#nouveaute
{
	width: 49%;
	height: 100%;
	float: right;
	background-color :white;
}

#best_seller 
{
	width: 48%;
	height: 100%;
	float: left;
	background-color : white;
	
	margin-left : 10px;
	
	box-shadow:1px 3px 8px #000000;
		
	-moz-border-radius: 15px 0px 15px 0px;
	-webkit-border-radius: 15px 0px 15px  0px;
	border-radius: 15px 0px 15px 0px;

	border-width: 2px;
	border-style: inset;
	border-color: #121212;
	
	background: -moz-linear-gradient(top, #f0f0f0, #cecece);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#cecece));
}

 #best_seller h3
 {
 	color : #FF9900;
	font-family: Verdana, serif;
	font-weight : bold;
	font-size: 18px;
	text-decoration : none;
	padding-left : 52px;
 }
 
  #best_seller h3:hover
 {
 	color : #CC6600;
	text-decoration : none;
 }
 
  #best_seller h1
 {
 	color : #333333;
	font-family: Verdana, serif;
	font-size: 22px;
	text-decoration : none;
	margin-left : 20px;
	padding-left : 10px;
	border-left : 3px solid lime;
 }
 
  #prix_article_bestseller
 {
 display : inline;
 margin-left : 15px;
 margin-right: 15px;
 padding-left : 5px;
 padding-right: 5px;
 color : red;
 font-family: Verdana, serif;
 font-size: 20px;
 border : 2px solid red;
 }
 
 #voirficheproduit_bestseller
 {
  display : inline;
  color : green;
  font-family: Verdana, serif;
  font-size: 16px;
 }
 
 #voirficheproduit_bestseller:hover
 {
  font-weight : bold;
 }
 
 #best_seller img
 {
 display : block;
 float : left;
 padding-left : 15px;
 padding-right : 15px;

 }
 

 

#pub
{
	padding-top : 45px;
}

/* la barre de menu */
#liste_menu
{
position : absolute;
width : 960px;
list-style-type : none;
margin : 0;
padding : 0;
border : 0;
z-index : 5;
}

/* un element de la barre de menu */
#liste_menu li
{
float : left;
width : 235px;
margin : 0;
padding : 0;
padding-right : 5px;
border : 0;


}
/* un element de la barre de menu */
#liste_menu li a:link, #liste_menu li a:visited
{
display : block;
height : 30px;
color : #FFF;
background : #8c8c8c;
margin : 0;
padding : 4px 8px;
border-right : 1px solid silver;
text-decoration : none;
font-family: Verdana, serif;
text-align : center;
padding-top : 4px;
font-size : 26px;
/* arrondi sur les bords */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

border-width: 2px;
border-style: inset;
border-color: #212121;

/* degradé */
background: -moz-linear-gradient(top, #545454, #999999);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#999999));
							
}

#liste_menu li a:hover
{
background-color : orange;
}

#liste_menu .sous-menu li a:link, 
#liste_menu .sous-menu li a:visited 
{
display : block;
color : white;
width : 196px;
margin : 0;
margin-left : 12px;
border : 0;
z-index : 5;
text-decoration : none;
font-size : 18px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;

border-left-width: 2px;
border-left-style: inset;
border-left-color: #212121;

border-right-width: 2px;
border-right-style: inset;
border-right-color: #212121;

background: -moz-linear-gradient(top, #676767, #676767);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#676767), to(#676767));
}

#liste_menu .sous-menu li a:hover
{
background-image : none;
background-color : orange;
}

#liste_menu .sous-menu li 'a
{
float : none;
margin : 0;
padding : 0;
border : 0;
width : 120px;
border-top : 1px solid transparent;
border-right : 1px solid transparent;
z-index : 5;
}

#liste_menu .sous-menu {
display : none;
list-style-type : none;
margin : 0;
padding : 0;
border : 0;
}

#liste_menu li:hover > .sous-menu 
{
display : block;

}

#liste_menu .first-elem-sous-menu li a:link, 
#liste_menu .first-elem-sous-menu li a:visited {
-moz-border-radius: 7px 7px 0px 0px;
-webkit-border-radius: 7px 7px 0px  0px;
border-radius: 7px 7px 0px 0px;

border-top-width: 2px;
border-top-style: inset;
border-top-color: #bbbbbb;

background: -moz-linear-gradient(top, #888888, #676767);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#676767));

}

#liste_menu .last-elem-sous-menu li a:link, 
#liste_menu .last-elem-sous-menu li a:visited {
-moz-border-radius:  0px 0px 7px 7px;
-webkit-border-radius: 0px  0px 7px 7px ;
border-radius:  0px 0px 7px 7px;

border-bottom-width: 2px;
border-bottom-style: inset;
border-bottom-color: #212121;

background: -moz-linear-gradient(top, #676767, #888888);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#676767), to(#888888));
}

#liste_menu .first-elem-sous-menu li a:hover
{
background-image : none;
background-color : orange;
}

#liste_menu .last-elem-sous-menu li a:hover
{
background-image : none;
background-color : orange;
}

#panneau-categories
{
padding-top : 65px;
padding-left : 25px;
}

.categorie 
{
float : left;
padding-right : 40px;
width : 225px;
height : 225px;
padding-top : 20px;
}

.categorie img
{
border-width: 2px;
border-style: solid;
border-color: #000000;

border-bottom : none;
}

.categorie img:hover
{
  opacity : 0.8;
}

.categorie a
{
display : block;
position : relative;
top : -5px; 
height : 35px;
width : 225px;

z-index : 2;

text-align : center;
padding-top : 7px;
font-family: Verdana, serif;
color : orange;

border-width: 2px;
border-style: solid;
border-color: #000000;

border-top : none;

-moz-border-radius:  0px 0px 7px 7px;
-webkit-border-radius: 0px  0px 7px 7px ;
border-radius:  0px 0px 7px 7px;

background-color : #888888;
background: -moz-linear-gradient(top, #888888, #676767);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#676767));
}

.categorie a:hover
{
background-color : #FF6A00;
background: -moz-linear-gradient(top, #FFAA00, #FF6A00);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFAA00), to(#FF6A00));

color : #3B3B3B;
}

#page-sous-categories
{
padding-top : 50px;
}

#panneau-sous-categories
{
margin-top : 5px;
width : 950px;
border-style: solid;
border-color: #000000;
border-width: 2px;
background-color : #ABE7A2;

}

#page-sous-categories h2
{
padding-left : 30px;
font-family: Arial, serif;
font-size : 28px;
color : #27CC0E;
}

.sous-categorie
{
float : left;
width : 420px;
height : 200px;
background-color : #eeeeee;
padding-top : 1px;
padding-left : 10px;
margin-right : 15px;
margin-bottom : 15px;

-moz-border-radius:  12px 0px 12px 0px;
-webkit-border-radius: 12px  0px 12px 0px ;
border-radius:  12px 0px 12px 0px;

border-style: solid;
border-color: #aaaaaa;
border-width: 2px;
}

.sous-categorie p
{
padding-left : 30px;
font-family: Verdana, serif;
font-size : 13px;
color : #000000;
}

.sous-categorie h4
{
border-left : 4px solid #27cc45;
margin-left : 25px;
padding-left : 10px;
font-family: Verdana, serif;
font-size : 18px;
font-weight : bold;
color : #44B54F;
}

.sous-categorie h4:hover
{
color : orange;;
}

.sous-categorie img
{
float : left;
margin-right : 8px;
border : 1px solid #222222;
}

.sous-categorie a
{
font-family: Verdana, serif;
font-size : 12px;
}


#fiche-produit
{
padding-top : 60px;
}

#categorie-fiche-produit
{
	
	padding-left : 30px;
	font-family: Arial, serif;
	font-size : 28px;
	color : #FF9900;
	font-weight : bold;
}

#sous-categorie-fiche-produit
{
	padding-left : 10px;
	font-family: Arial, serif;
	font-size : 20px;
	color : #FF9900;
	font-weight : bold;
}

#fiche-technique-produit
{
	float : right;
	width : 520px;
	margin-top : 20px;
	margin-bottom : 20px;
	padding-left : 15px;

	color : #232323;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-size : 14px;
	padding-bottom : 8px;

	background-color : #dedede;

	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px  7px;
	border-radius: 7px 7px 7px 7px;

	border-width: 2px;
	border-style: solid;
	border-color: #bbbbbb;

	background: -moz-linear-gradient(top, #dedede, #adadad);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#adadad));
}

#fiche-technique-description-produit 
{
width : 500px;
border-top : 2px solid #9a9a9a;
}

#prix-fiche-produit h4
{

	float : left;
	background-color : orange;
	width : 66px;
	height : 24px;
	margin-bottom : 10px;
	padding-top: 10px;
	padding-left : 20px;
	padding-right : 0px;
	padding-bottom : 8px;
	

	color : red;
	font-weight : bold;
	font-size : 18px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	border-width: 2px;
	border-style: inset;
	border-color: #121212;

	/* degradé */
	background: -moz-linear-gradient(top, #FDAD00, #906602);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#FDAD00), to(#906602));
}

#ajouter-au-panier h4
{
	float : left;
	background-color : silver;
	width : 220px;
	height : 24px;
	margin-bottom : 10px;
	margin-left : 12px;
	padding-top: 10px;
	padding-left : 20px;
	padding-right : 0px;
	padding-bottom : 8px;
	

	color : #252525;
	font-weight : bold;
	font-size : 18px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	border-width: 2px;
	border-style: inset;
	border-color: #121212;

	/* degradé */
	background: -moz-linear-gradient(top, #dedede, #878787);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#878787));
}

#ajouter-au-panier h4:hover
{
	background-image : none;
	background-color : orange;
	
	
}

#select-quantite
{
clear : both;
}

#select-quantite .fieldset
{
width : 120px;
}

#image-fiche-produit img
{
	width : 400px;
	margin-top : 20px;
	float : left;
	border : 2px inset #989898;
}

.rating-star
{
display : inline;
width : 30px;
}

#fiche-produit-nbavis h6
{
	color : #232323;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-size : 14px;
	margin-top : -10px;
	padding-left : 170px;
}

.avis-fiche-produit
{
	clear : both;
	width : 920px;
	position : relative;
	margin-top : 20px;
	padding : 20px;
	background-color : silver;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	border-width: 2px;
	border-style: inset;
	border-color: #121212;

	/* degradé */
	background: -moz-linear-gradient(top, #dedede, #acacac);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#acacac));
}

.avis-fiche-produit h3
{
	font-family: Verdana, serif;
	font-size : 18px;
	font-weight : bold;
	color : #343434;
}

#about-bricobob
{
margin-left : 30px;
margin-right : 30px;
margin-top : 50px;
padding-left : 15px;
width : 900px;
background-color : silver;

-moz-border-radius:  0px 0px 7px 7px;
-webkit-border-radius: 0px  0px 7px 7px ;
border-radius:  0px 0px 7px 7px;

border-width: 2px;
border-style: solid;
border-color: #000000;
}

#page-admin
{	
	padding : 10px;
	padding-top : 50px;
	font-family : Verdana, Serif;

}

#panneau-admin
{
	padding : 20px;
	padding-top : 2px;
	
	box-shadow:1px 3px 8px #000000;
		
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;

	border-width: 2px;
	border-style: inset;
	border-color: #121212;
	
	background: -moz-linear-gradient(top, #dedede, #acacac);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#acacac));
}

#panneau-admin h1
{
	color : orange;
	padding-left : 25px;
	border-left : 6px solid orange;
}

.icon-panneau-admin
{
display : inline;
padding-right : 50px;
}

.icon-panneau-admin img
{
	width : 120px;
}

.icon-panneau-admin a
{
	text-decoration : none;
	
}