/* INSCRIPTION */
#form-inscription
{
	float : left;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: purple;
	
	margin-top : 70px;
	margin-bottom : 80px;
	
	padding-left : 50px;
	
	color : #FF9900;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 14px;
}

#form-inscription h4, h6
{
	color : #222222;
}

#pourquoi-sinscrire
{
	float : right;
	width : 440px;
	margin-top : 85px;
	
	-moz-border-radius: 7px 7px 7px 7px;
	-webkit-border-radius: 7px 7px 7px  7px;
	border-radius: 7px 7px 7px 7px;
	border-width: 2px;
	border-style: solid;
	border-color: #bbbbbb;

	padding-left : 15px;
	padding-bottom : 8px;

	color : #232323;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 14px;
	
	background-color : #dedede;
	background: -moz-linear-gradient(top, #dedede, #cdcdcd);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#dedede), to(#cdcdcd));
}

/* CONNECTION */
#form-connection
{
	float : left;
	margin-top : 70px;
	margin-bottom : 80px;

	padding-left : 50px;
	
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: purple;
	
	color : #FF9900;
	font-family:  Verdana, serif;
	text-decoration : none;
	font-weight : bold;
	font-size : 14px;
}

#pub-connection img
{
	margin-top : 70px;
	margin-left : 50px;
}