#liste_menu /* La barre de menu */
{
position : absolute;
width : 960px;
list-style-type : none;
margin : 0;
padding : 0;
border : 0;
z-index : 5;
}

#liste_menu li /* un element de la barre de menu */
{
float : left;
width : 235px;
margin : 0;
padding : 0;
padding-right : 5px;
border : 0;


}

#liste_menu li a:link, #liste_menu li a:visited /* un lien de la barre de menu */
{
display : block;
height : 30px;
color : #FFF;
background : #8c8c8c;
margin : 0;
padding : 4px 8px;
border-right : 1px solid silver;
text-decoration : none;
font-family: Verdana, serif;
text-align : center;
padding-top : 4px;
font-size : 26px;
/* arrondi sur les bords */
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

border-width: 2px;
border-style: inset;
border-color: #212121;

/* degradé */
background: -moz-linear-gradient(top, #545454, #999999);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#545454), to(#999999));

}

#liste_menu li a:hover
{
background-color : orange;
}

#liste_menu .sous-menu li a:link, 
#liste_menu .sous-menu li a:visited 
{
display : block;
color : white;
width : 196px;
margin : 0;
margin-left : 12px;
border : 0;
z-index : 5;
text-decoration : none;
font-size : 18px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;

border-left-width: 2px;
border-left-style: inset;
border-left-color: #212121;

border-right-width: 2px;
border-right-style: inset;
border-right-color: #212121;

background: -moz-linear-gradient(top, #676767, #676767);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#676767), to(#676767));
}

#liste_menu .sous-menu li a:hover
{
background-image : none;
background-color : orange;
}

#liste_menu .sous-menu li 'a
{
float : none;
margin : 0;
padding : 0;
border : 0;
width : 120px;
border-top : 1px solid transparent;
border-right : 1px solid transparent;
z-index : 5;
}

#liste_menu .sous-menu {
display : none;
list-style-type : none;
margin : 0;
padding : 0;
border : 0;
}

#liste_menu li:hover > .sous-menu 
{
display : block;

}

#liste_menu .first-elem-sous-menu li a:link, 
#liste_menu .first-elem-sous-menu li a:visited {
-moz-border-radius: 7px 7px 0px 0px;
-webkit-border-radius: 7px 7px 0px  0px;
border-radius: 7px 7px 0px 0px;

border-top-width: 2px;
border-top-style: inset;
border-top-color: #bbbbbb;

background: -moz-linear-gradient(top, #888888, #676767);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#676767));

}

#liste_menu .last-elem-sous-menu li a:link, 
#liste_menu .last-elem-sous-menu li a:visited {
-moz-border-radius:  0px 0px 7px 7px;
-webkit-border-radius: 0px  0px 7px 7px ;
border-radius:  0px 0px 7px 7px;

border-bottom-width: 2px;
border-bottom-style: inset;
border-bottom-color: #212121;

background: -moz-linear-gradient(top, #676767, #888888);
background: -webkit-gradient(linear, 0 0, 0 100%, from(#676767), to(#888888));
}

#liste_menu .first-elem-sous-menu li a:hover
{
background-image : none;
background-color : orange;
}

#liste_menu .last-elem-sous-menu li a:hover
{
background-image : none;
background-color : orange;
}